html {
    position: relative;
    min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: sticky;
  padding: 0px 10px;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.small-footer {
  font-size:small;
}

.star1 {
  background: linear-gradient(rgba(95, 102, 115, 0.25), rgba(95, 102, 115, 0.75));
}

.star2 {
  background: linear-gradient(rgba(98, 152, 113, 0.25), rgba(98, 152, 113, 0.75));
}

.star3 {
  background: linear-gradient(rgba(84, 138, 179, 0.25), rgba(84, 138, 179, 0.75));
}

.star4 {
  background: linear-gradient(rgba(127, 82, 172, 0.25), rgba(127, 82, 172, 0.75));
}

.star5 {
  background: linear-gradient(rgba(184, 115, 38, 0.25), rgba(184, 115, 38, 0.75));
}

.element {
  position: absolute; top: 5px; right: 5px;
}

.spanName {
  position: absolute; bottom: 1px; left: 0px; right: 0px;
  background-color: #f5f5f5e0;
}

.weapon-data {
  /* position: absolute; top: 0px; right: 0px; width: 14vw; */
  overflow: auto;
}

.weapon-data p {
  /* position: absolute; top: 0px; right: 0px; width: 14vw; */
  margin: 0px;
  margin-bottom: 2px;
}